.exhibit-display {
  position: relative;
  text-align: center;
}

.exhibit-title {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  font-size: 1vw;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50vh);
  background-color: white;
}

.exhibit-image {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  background-color: white;
}

.exhibit-description {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  font-size: 0.8vw;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  width: 15vw;
}