.exhibit-display {
  position: relative;
  text-align: center;
  color: rgb(227, 227, 227);
}

.exhibit-title {
  padding: 5px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  font-size: 1vw;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50vh);
  background-color: rgb(45, 45, 45);
}

.exhibit-image {
  padding: 10px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  background-color: rgb(45, 45, 45);
}

.exhibit-description {
  padding: 10px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  font-size: 0.8vw;
  background-color: rgb(45, 45, 45);
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  width: 15vw;
}